{% extends('partials/_base.twig') %}

{% block body %}
    {% setcontent fptops = 'Front_Page_Items' where { fptypes: 'fptop' } %}

    <div id="topcontents">

        {% for fptop in fptops %}
            <div class="row">

                <div class="columns topcontent" id="top{{ fptop.id }}">

                    {% if fptop.image is not empty %}
                        {% if fptop.contentlink != "" %}
                            <a href="{{ fptop.contentlink }}">{{ fptop.image|showimage() }}</a>
                        {% else %}
                            {{ fptop.image|showimage() }}
                        {% endif %}
                        <div class="topcontenttext fpwithimage">
                            {{ fptop.content }}
                        </div>
                    {% else %}
                        {% if fptop.contentlink != "" and fptop.content!="" %}
                            <div class="topcontenttext">
                                <a href="{{ fptop.contentlink }}">{{ fptop.content }}</a>
                            </div>
                        {% else %}
                            <div class="topcontenttext">
                                {{ fptop.content }}
                            </div>
                        {% endif %}
                    {% endif %}
                </div>


            </div>

        {% endfor %}


    </div>


    <h1>{{ record.title }}</h1>


    {{ record.teaser }}

    {{ popup(record.image, 1200, 500) }}

    {{ record.body }}


{% endblock %}

{% block extrascripts %}
    <script src="{{ asset('js/frontpage.js', 'theme') }}"></script>
{% endblock %}
