{% extends 'partials/_base.twig' %}

{% block headtitle %}


    {% if paths.current == paths.root %}
        Home | Stoke Stoves
    {% else %}
        {% if record.title is defined %}
            {{ record.title }} | Stoke Stoves
        {% else %}
            Stoke Stoves
        {% endif %}
    {% endif %}

{% endblock %}

{% block body %}

    <div class="row show-for-medium">
        <div class="column">
            <div id="recordTitleContainer">
                <h1 id="recordTitle">{{ record.title }}</h1>
            </div>
        </div>
    </div>

    <br>
    <br>

    <div class="row recordContainer">

        <article>


            <div class="column">


                <hr>


                {{ record.image|showimage() }}



                {# Output all fields, in the order as defined in the contenttype.
                   To change the generated html and configure the options, see:
                   https://docs.bolt.cm/templating/fields-tag #}
                {{ record.body }}

                {# Uncomment this if you wish to dump the entire record to the client, for debugging purposes.
                {{ dump(record) }}
                #}

                {# {% include 'partials/_recordfooter.twig' with { 'record': record, 'extended': true } %} #}


            </div>

        </article>

    </div>



{% endblock body %}
