{% extends 'partials/_base.twig' %}

{% block headtitle %}


    {% if paths.current == paths.root %}
        Home | Stoke Stoves
    {% else %}
        {% if record.title is defined %}
            {{ record.title }} | Stoke Stoves
        {% else %}
            Stoke Stoves
        {% endif %}
    {% endif %}

{% endblock %}

{% block body %}

    <div class="row show-for-medium">
        <div class="column">
            <div id="newsTitleContainer">
                <h1 id="newsTitle"><span>News</span></h1>
            </div>
        </div>
    </div>

    <br>
    <br>

    <div class="row newsEntryContainer">

        <article>


            <div class="column large-10 large-push-2">

                <h1>{{ record.title }}</h1>


                <hr>


                {{ record.image|showimage() }}



                {# Output all fields, in the order as defined in the contenttype.
                   To change the generated html and configure the options, see:
                   https://docs.bolt.cm/templating/fields-tag #}
                {{ record.body }}

                {# Uncomment this if you wish to dump the entire record to the client, for debugging purposes.
                {{ dump(record) }}
                #}

                {# {% include 'partials/_recordfooter.twig' with { 'record': record, 'extended': true } %} #}


            </div>

            <div class="column large-2 large-pull-10">
                <p><b>Written by: {{ record.user.displayname|default(__('Unknown')) }}</b></p>
                <p><b>Published on: {{ record.datepublish|localedatetime("%A %B %e, %Y") }}</b></p>


                <!-- Foundation Orbit for related news -->
                <h3>Latest News</h3>
                <hr>
                <div class="orbit" data-orbit>
                    <ul class="orbit-container">
                        <!-- Display the news content -->
                        {% setcontent news = 'entries/latest/4' where { categories: 'news' } %}


                        {% for newsItem in news %}
                            <li class="orbit-slide">
                                <a href="{{ newsItem.link }}">{{ newsItem.image|showimage() }}<span
                                            class="newsOrbitDate">{{ newsItem.datepublsh|localedatetime("%A %B %e, %Y") }}</span>
                                    - {{ newsItem.title }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                    <nav class="orbit-bullets">
                        <button class="is-active" data-slide="0"><span
                                    class="show-for-sr">First slide details.</span><span class="show-for-sr">Current Slide</span>
                        </button>
                        <button data-slide="1"><span class="show-for-sr">Second slide details.</span></button>
                        <button data-slide="2"><span class="show-for-sr">Third slide details.</span></button>
                        <button data-slide="3"><span class="show-for-sr">Fourth slide details.</span></button>
                    </nav>
                </div>


            </div>

        </article>

    </div>



{% endblock body %}
